@import "./Fonts.css";

.App {
  text-align: center;
  font-family: 'Roboto Slab';
  display: 'block';
}

.Board {
  height: auto;
  padding: auto;
  font-family: 'Roboto Slab';
}

.Intro {
  font-family: inherit;
}
